@model ERP.Web.Models.Database.DM_HANG_HOA

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DM_HANG_HOA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MA_HANG_NHAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MA_HANG_NHAP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEN_HANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_HANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SERI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SERI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DON_VI_TINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DON_VI_TINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODEL_DAC_BIET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODEL_DAC_BIET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HINH_ANH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HINH_ANH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DAC_TINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DAC_TINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GHI_CHU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GHI_CHU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DM_HANG_SP.TEN_NHOM_HANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DM_HANG_SP.TEN_NHOM_HANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DM_TAI_KHOAN_HACH_TOAN.TEN_TK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DM_TAI_KHOAN_HACH_TOAN.TEN_TK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DM_TAI_KHOAN_HACH_TOAN1.TEN_TK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DM_TAI_KHOAN_HACH_TOAN1.TEN_TK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DM_TAI_KHOAN_HACH_TOAN2.TEN_TK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DM_TAI_KHOAN_HACH_TOAN2.TEN_TK)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
