@model ERP.Web.Models.Database.DM_KHO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DM_KHO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEN_KHO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_KHO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIA_CHI_KHO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIA_CHI_KHO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GHI_CHU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GHI_CHU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CCTC_CONG_TY.TEN_CONG_TY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCTC_CONG_TY.TEN_CONG_TY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DM_KHO2.TEN_KHO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DM_KHO2.TEN_KHO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MA_KHO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
